div{
    height:100px;
    width:100px;
    background-color: green;
    text-align: center;
    border:3px solid black;
    margin: 20px;
    display: inline-block;

}
#static{
    background-color: yellow;
    position:static;/*sets how an element is positioned in a document0*/
    top:100px;
    left: 100px;
}
#relative{
    background-color: yellow;
    position:relative;/*sets how an element is positioned in a document0*/
    top:100px;
    left: 100px;
}
#absolute{
    background-color: yellow;
    position:absolute;/*sets how an element is positioned near parent*/
    top:100px;
    left: 100px;
}
#fixed{
    background-color: yellow;
    position:fixed;/*it remains fixed */
    top:100px;
    left: 100px;
}

